<div class="container">

  <div class="input-group my-5">
    <input type="text" [(ngModel)]="buscaUsuarios" class="form-control" placeholder="Nome do usuário" aria-label="Nome do usuário" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="getUser()" type="button">Buscar</button>
    </div>
  </div>

  <p *ngIf="totalUsuarios"><strong>Foram encontrados {{totalUsuarios}} usuários</strong></p>

  <div *ngFor="let usuario of usuarios">
    <a routerLink="{{ usuario.login }}">{{usuario.login}}</a>
    <hr>
  </div>

  <div class="my-5">
    <div class="progress my-3" *ngFor="let usuarioFinal of dadosUsuario">
      <div class="progress-bar bg-success" role="progressbar" 
      style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{usuarioFinal.login}} - {{usuarioFinal.followers}}</div>
    </div>    
  </div>



</div>